{% extends "base.html" %}

{% block title %} {{ block.super }} | all products {% endblock title %}

{% block main %}
<section id="filters">
  <form action="{% url 'index' %}" method="get">
    {{ search_form.as_p }}
    <input type="submit" value="Filter products">
  </form>
  <p><a href="{% url 'index' %}?reset=true">Reset filters</a>
</section>

<section id="main">
  <table>
    <tr>
      <th><a href="{% url 'index' %}?sort=name">Name</a></th>
      <th>Description</th>
      <th>Appropriate age</th>
      <th>Average rating</th>
      <th><a href="{% url 'index' %}?sort=price">Price</a></th>
      <th>Image</th>
    </tr>
    {% for product in products %}
    <tr>
      <td class="name"><a href="{% url 'details' product.id %}">{{ product.name|title }}</a></td>
      <td class="description">{{ product.description|truncatewords:3 }}</td>
      <td class="ages">{{product.age_range}}</td>
      <td class="rating">{{ product.average_rating|floatformat }}</td>
      <td class="price">${{ product.price }}</td>
      <td class="image">
      {% if product.image %}
        {% if product.image.url.width > product.image.url.height %}
          <img src="{{ product.image.url }}" width=100>
        {% else %}
          <img src="{{ product.image.url }}" height=100>
        {% endif %}
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endblock main %}
